* {
    box-sizing: border-box;
    margin: 0;
}
/* header */
#logo-boolean {
    margin-left: 5px;
}

#Toboolist {
    color: rgb(25, 44, 70);
    font-size: 50px;
}

/* main */
main {
    background-color: lightgray;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* container */
.container {
    width: 60%;
    margin: auto;
    background-color: white;
    padding-top: 30px;
    border-radius: 20px;
    line-height: 1.6;
}
.button-section {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
}
button {
    cursor: pointer;
}

.light-blue {
    background-color: lightskyblue;
}

hr {
    margin-bottom: 20px;
}

/* sezioni new task, today, upcoming */
h2::before {
    content: '\0025BE';
}

h2 {
    font-size: 35px;
    margin-left: 50px;
}

li {
    font-size: 25px;
}

.done::before {
    content: '\2713';
    color: green;
    background-color: rgb(202, 231, 202);
    padding: 5px;
    border-radius: 100% ;
    
}

.not-done::before {
    content: '\2717';
    color: red;
    background-color: rgb(223, 184, 184);
    padding: 5px;
    border-radius: 100% ;
}

ul {
    list-style-type: none;
}


/* labels  */
span {
    color: white;
    font-size: 15px;
    padding: 2px 5px;
    border-radius: 10px;
}

/* labels color */
.button {
    border-radius: 5px;
}

.lightgray {
    color: lightgray;
}

.editorial {
    background-color: lightskyblue;
}

.q1-goals {
    background-color: violet;
}

.recruiting {
    background-color: aquamarine;
}

.mobile {
    background-color: orange;
}

.website { 
    background-color: palevioletred;
}

.sales {
    background-color: lightgreen;
}
