* {
    box-sizing: border-box;
    margin: 0;
}
/* header */
#logo-boolean {
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}

.toboolist {
    font-size: 40px;
}

/* main */
main {
    background-color: lightgray;
}

/* container */
.container {
    width: 60%;
    margin: auto;
    background-color: white;
    padding-top: 30px;
    border-radius: 20px;
}
.button-section {
    margin-top: 10px;
    margin-bottom: 10px;
}
/* sezioni new task, today, upcoming */
.done::before {
    content: '\2713';
    color: green;
}

.not-done::before {
    content: '\2717';
    color: red;
}

ul {
    list-style-type: none;
}


/* labels  */
span {
    color: white;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 10px;
}

/* labels color */
.button {
    border-radius: 5px;
}

.lightgray {
    color: lightgray;
}

.editorial {
    background-color: lightskyblue;
}

.q1-goals {
    background-color: violet;
}

.recruiting {
    background-color: aquamarine;
}

.mobile {
    background-color: orange;
}

.website { 
    background-color: palevioletred;
}

.sales {
    background-color: lightgreen;
}
