* {
    box-sizing: border-box;
    margin: 0;
}
/* header */
#logo-boolean {
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}

.toboolist {
    font-size: 40px;
}

/* main */
main {
    background-color: #F6F8F9;
}
